@model desafio_mvc.DTO.ProjetoDTO

<h2>Cadastro de um novo projeto</h2>
<hr/>

<form class="form-horizontal" asp-action="Salvar" asp-controller="Projeto" method="POST">
    <input type="hidden" asp-for="Id" value="0">
    
    <label asp-for="Nome">Nome</label>
    <input type="text" asp-for="Nome" class="form-control" placeholder="Nome">
    <span asp-validation-for="Nome" class="text-danger"></span><br>

    <button class="btn btn-success">Cadastrar</button>
</form> 
<br>
<a asp-action="Projetos" asp-controller="wa" class="btn btn-dark">Voltar</a>