<h2 class="text-center">Funções</h2>
<br>

<a asp-action="Funcionarios" asp-controller="wa" class="btn btn-outline-secondary btn-lg btn-block">Funcionarios</a>
<hr/>

<a asp-action="Vagas" asp-controller="wa" class="btn btn-outline-success btn-lg btn-block">Vagas</a>
<hr/>

<a asp-action="Alocar" asp-controller="wa" class="btn btn-outline-info btn-lg btn-block">Alocacao</a>
<hr/>

<a asp-action="Historico" asp-controller="wa" class="btn btn-outline-dark btn-lg btn-block">Historico</a>
<hr/>

<a asp-action="Gft" asp-controller="wa" class="btn btn-outline-primary btn-lg btn-block">GFT's</a>
<hr/>

<a asp-action="Tecnologia" asp-controller="wa" class="btn btn-outline-danger btn-lg btn-block">Tecnologias</a>
<hr/>

<a asp-action="Projetos" asp-controller="wa" class="btn btn-outline-warning btn-lg btn-block">Projetos</a>


