@model IEnumerable<desafio_mvc.Models.Tecnologia> 

@{
    Layout = "_Layout";
}

<script>
    $(document).ready( function () {
    $('#tecnologia').DataTable({
        "language": {
            "lengthMenu" : "Mostrando _MENU_ registros por pagina",
            "zeroRecords":  "Nada encontrado, desculpa",
            "info" : "Mostrando pagina _PAGE_ de _PAGES_",
            "infoEmpty" : "Nenhum registro disponivel",
            "search":   "Buscar:",
            "paginate": {
                "first":    "Primeiro",
                "last":     "Ultimo",
                "next":     "Proximo",
                "previous": "Anterior"
            }
        }
    });
    });
</script>

<div class="text-center">
    <h2 >Tecnologias cadastradas</h2>
    <div class="btn-group btn-group-justified">
        <a asp-action="CadastrarTecnologia" asp-controller="wa" class="btn btn-outline-success">Cadastrar Tecnologia</a>
        <a asp-action="Vagas" asp-controller="wa" class="btn btn-outline-warning">Vagas</a>
        <a asp-action="Funcionarios" asp-controller="wa" class="btn btn-outline-info">Funcionarios</a>
    </div>
</div>


<hr/>

<table id="tecnologia" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Nome </th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var tec in Model){
            <tr>
                
                <td>@tec.Nome</td>
                <td>
                    <a class="btn btn-primary" href="/wa/EditarTecnologia/@tec.Id">Editar</a> 
                </td>
            </tr>
        }
    </tbody>
</table>